<%- include('../partials/header', {title: title}) %>
<%- include('../partials/navbar', {backLink: backLink}) %>
<h1><%= title %></h1>
<ul id="skills">
    <% skills.forEach(function(skill) { %>
        <li class="skill">
            <a href="/skills/<%= skill.replace(/#/g, '%23') %>">
                <%= skill %>
            </a>
        </li>
    <% }); %>
</ul>
<a href="/skills/new" class="button">Add Skill</a>
<%- include('../partials/footer') %>