<%- include('../partials/header', {title: title}) %>
<%- include('../partials/navbar', {backLink: backLink}) %>
<h1><%= title %></h1>
<div class="skill">
    <h2><%= skill %></h2>
</div>
<a href="/skills/<%= skill %>/edit" class="button">Edit</a>

<form action="/skills/<%= skill %>?_method=DELETE" method="POST" class="delete">
    <button class="button">Delete</a>
</form>
<%- include('../partials/footer') %>