<%- include('../partials/header', {title: title}) %>
<%- include('../partials/navbar', {backLink: backLink}) %>
<h1><%= title %></h1>
<div class="skill">
    <h2><%= skill %></h2>
</div>
<%- include('../partials/footer') %>