<%- include('../partials/header', {title: title}) %>
<%- include('../partials/navbar', {backLink: backLink}) %>
<h1><%= title %></h1>
<ul>
    <% team.forEach(function(person) { %>
        <li>
            <a href="/team/<%= person.id %>">
                <%= person.firstname %>
                <%= person.lastname %>
            </a>
        </li>
    <% }); %>
<%- include('../partials/footer') %>