<%- include('../partials/header', {title: title}) %>
<%- include('../partials/navbar', {backLink: backLink}) %>
<h1><%= title %></h1>
<img src="<%= person.avater %>" alt="">
<h2><%= person.firstname %> <%= person.lastname %></h2>
<p><%= person.bio %></p>
<br>
<h3>Top Skills:</h3>
<p><%= person.skills %></p>
<br>
<p><%= person.email %></p>
<p><%= person.phone %></p>
<%- include('../partials/footer') %>